:root{
--bgtheme:#23BAF1;
--bgbox:rgba(158, 224, 249, 0.7);
--bgstrokebox: #00B2FF;
--text: white;
--boxinfo: #43c1ff;
--boxinput:#b8e4ff;
--bgtitle:rgb(37, 164, 164);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    margin-right: auto;
    margin-left: auto;
    background-color: var(--bgtheme);
    padding-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
header p{
    color: var(--text);
}
html {
    scroll-behavior: smooth;
}
/* pra corrigir o scroll dos contactos */
#contactos {
    scroll-margin-top: 250px;
}

main{
    height: 2600px;
}
.navbar-nav .nav-link {
    color: var(--text);
    font-size: 1.3rem;
}
.navbar-nav .nav-link:hover {
    color: rgb(0, 255, 229);
}

.border-text {
    -webkit-text-stroke: 0.5px rgb(63, 51, 189);
    
}
header h1{
    -webkit-box-shadow: 1px 32px 48px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 32px 48px 13px rgba(0,0,0,0.75);
    box-shadow: 1px 32px 48px 13px rgba(0,0,0,0.75);
}
/* aqui são os banners */
.bannerbox1 {
    background-color: var(--bgbox);
    padding: 40px;
    border-radius: 20px; 
    width: 500px;
    text-align: center;
    position: absolute; /* pra posicionar sobre o banner */
    bottom: 150px;
    right: 200px;
    border: 2px solid var(--bgstrokebox);
    color: var(--text);
}

.bannerbox2 {
    background-color: var(--bgbox);
    padding: 40px;
    border-radius: 20px; 
    width: 500px;
    text-align: center;
    position: absolute; /* pra posicionar sobre o banner */
    bottom: 150px;
    left: 200px;
    border: 2px solid var(--bgstrokebox);
    color: var(--text);
}
.bannerbox3 {
    background-color: var(--bgbox);
    padding: 40px;
    border-radius: 20px; 
    width: 500px;
    text-align: center;
    position: absolute; /* pra posicionar sobre o banner */
    bottom: 150px;
    right: 200px;
    border: 2px solid var(--bgstrokebox);
    color: var(--text);
}
/* aqui são os botões do banner */
.bannerbox1 button{
    background-color: var(--bgtheme);
    border-radius: 20px;
}
.bannerbox2 button{
    background-color: var(--bgtheme);
    border-radius: 20px;
}
.bannerbox3 button{
    background-color: var(--bgtheme);
    border-radius: 20px;
}
/* As barras azuis que separa as seccões do site */
.seccao{
    background-color: var(--boxinfo);
    width: 95%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 50px;
    color: var(--text);
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.seccao h2{
    padding-left: 20px;
}
/* todos os botões do site */
.botao {
    background-color: var(--bgtheme);
    border-radius: 50px;
    font-size: 1.3rem;
}
/* para tirar um problema de padding dos serviços */
.row {
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden; /* Evita vazamentos */
}
/* newsletter */
.newsl{
border: 1px solid black;
width: 80%;
margin-left: auto;
margin-right: auto;
background-color: var(--bgbox);
justify-content: center;
padding-top: 10px;
padding-bottom: 10px;
font-size: 1.2rem;
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
}

.email{
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 50%;
}

/* sobre nos */
.usbox {
    background-color: var(--bgbox);
    padding: 40px;
    border-radius: 20px; 
    width: 500px;
    text-align: center;
    position: absolute; 
    border: 2px solid var(--bgstrokebox);
    color: white;
    top: 1800px;
    right: 800px;
}
.usimg{
width: 80%;
}

.servbox{
    background-color: var(--bgbox);
    width: 50%;
    border: 1px solid var(--bgstrokebox);
    border-radius: 20px;
    padding: 50px;
    width: 450px;
    max-height: 300px;
}
iframe{
    border-radius: 20px;
    max-height: 300px;
    max-width: 100%;

}
footer{
    background-color: var(--bgtheme);
}
footer img{
    max-height: 50%;
}
.livroimg{
    max-height: 75px;

}
/* cor dos links do footer */
.textcolor{
    color: var(--text);
    display: inline-block;
}
#backToTop {
    z-index: 999;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
    display: none;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--bgstrokebox);
}
/* FAQ */
.infobox {
    background-color: var(--boxinfo);
    color: var(--text);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.inputbox {
    background-color: var(--boxinput);
    border-radius: 15px;
    padding: 30px;
    height: 100%;
}
.form-control {
    border-radius: 10px;
}
